@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  width: 100vw;
  height: 100%;
  font-family: 'poppins';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 90vw;
  padding: 0 2rem !important;
}

.header img {
  width: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  min-height: 100%;
  width: 90vw;
}

.home {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  width: 100%;
  min-height: 80vh;
  animation: text-anim 3s ease;
}

.home h5 {
  font-size: 1rem;
  font-weight: 700;
}

.home h1 {
  font-size: 1.5rem;
  font-weight: 300;
}


.home h3 {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(88, 88, 88);
}

.home img {
  width: 5rem;
}

.home a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  background-color: rgb(29, 29, 29);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.home-main-text {
  font-weight: 700 !important;
  font-size: 3rem !important;
}

.home a span {
  width: 2rem;
  overflow: hidden;
}

.contributors {
  display: flex;
  justify-content: flex-end;
  width: 25rem;
}

.contributors button {
  width: 3rem !important;
  height: 3rem !important;
  overflow: hidden;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  margin-left: -1rem;
}

.contributors img {
  width: 3rem !important;
  height: 3rem !important;
}

.extra-contributors {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0) !important;
  border-radius: 2rem;
  font-size: 1rem;
  color: white;
  width: 8rem !important;
}

footer {
  margin-top: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p {
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(84, 84, 84);
}

@keyframes text-anim {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .home h5 {
    font-size: 0.8rem !important;
    font-weight: 700;
  }
  
  .home h1 {
    font-size: 0.9rem !important;
    font-weight: 300;
  }
  
  
  .home h3 {
    font-weight: 500;
    font-size: 0.6rem !important;
    color: rgb(88, 88, 88);
  }
  
  .home img {
    width: 5rem;
  }
  
  .home a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    background-color: rgb(29, 29, 29);
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .home a span {
    width: 2rem;
    overflow: hidden;
  }

  .home-main-text {
    font-weight: 700 !important;
    font-size: 2.1rem;
  }

  .home a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    background-color: rgb(29, 29, 29);
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.7rem;
  }
  
  .home a span {
    width: 1.7rem;
  }

  .contributors {
    display: none;
  }
}